body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

// Colors
$blue: #2980b9;
$fb-color: #3b5998;
$twitter-color: #1da1f2;

// Mixins
@mixin borderRadius($radius-value) {
  -webkit-border-radius: $radius-value;
  -moz-border-radius: $radius-value;
  -ms-border-radius: $radius-value;
  -os-border-radius: $radius-value;
}

@mixin fontSize($size) {
  font-size: $size;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.social-login {
    button {
      width: 95%;
      margin: 10px auto;
      padding: 23px;
      display: block;
      font-family: 'ROboto';
      text-align: left;
      &:first-child {
        background-color: $fb-color;
        margin-top: 25px;
        &:hover { background-color: #1565C0; }
      }

      i {
        margin-right: 13px
      }
    }
  }